<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Detail</h4>
    <div class="card-body">
      <div class="form-group">
        <span>Code:</span>
        <b>{{country.code}}dd</b>
      </div>
      <div class="form-group">
        <span>Nom:</span>
        <b>{{country.caption}}dd</b>
      </div>
      <div class="form-group">
        <span>Status:</span>
        <b>{{country.status}}dd</b>
      </div>
      <div class="form-group">
        <span>Continent:</span>
        <b>{{country.continent.caption}}dd</b>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="goBack()">Retour</button>
    </div>
  </div>
</div>
