<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h4 class="card-header">Detail</h4>
    <div class="card-body">

      <div class="form-group">
        <span>Code:</span>
        <b>{{company.code}}dd</b>
      </div>

      <div class="form-group">
        <span>Raison sociale:</span>
        <b>{{company.socialReason}}dd</b>
      </div>

      <div class="form-group">
        <span>Site Web:</span>
        <b>{{company.webSite}}dd</b>
      </div>

      <div class="form-group">
        <span>Email:</span>
        <b>{{company.email}}dd</b>
      </div>

      <div class="form-group">
        <span>Adresse:</span>
        <b>{{company.adress}}dd</b>
      </div>

      <div class="form-group">
        <span>Phone:</span>
        <b>{{company.phone}}dd</b>
      </div>

      <div class="form-group">
        <span>Status:</span>
        <b>{{company.status}}dd</b>
      </div>

      <div class="form-group">
        <span>Ville:</span>
        <b>{{company.city.caption}}dd</b>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" (click)="goBack()">Retour</button>
    </div>
  </div>
</div>
