<!--<div class="modal-body">
  <p><b>Vous avez oublié votre mot de passe ?</b></p>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" formControlName="email" class="form-control" [ngClass]="setError(email)" placeholder="Entrer votre adresse email" name="uname" >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors.required">Veuillez saisir l'identifiant </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success mr-2" type="submit">
          Soumettre
        </button>
        <button (click)="OnClose()" class="btn btn-primary" type="button">Annuler</button>
      </div>
      &lt;!&ndash;<div class="col-sm-4">.col-sm-4</div>&ndash;&gt;
    </div>
    <div *ngIf="hasMessage" style="color: #138f46; margin-top: 15px;">
      <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
    </div>
    <div *ngIf="hasError" style="color: red; margin-top: 15px;">
      <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
    </div>
  </form>

</div>-->
<div class=" pt-3">
  <div class="d-flex justify-content-start ">
    <mat-card class="container-fluid mr-3 ml-3">
      <mat-card-content>
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input matInput
                     placeholder="Entrer votre adresse email"
                     name="uname"
                     type="text"
                     formControlName="email">
              <mat-error *ngIf="forgotForm.get('email').hasError('required')">
                Veuillez saisir l'Identifiant
              </mat-error>
            </mat-form-field>
          </p>

          <mat-card-actions class="d-flex justify-content-start">
            <button mat-raised-button color="accent" type="submit" class="btn-sm save float-left" [disabled]="forgotForm.invalid">Soumettre</button>
            <a mat-raised-button color="accent" class="btn-sm refuse ml-2" (click)="OnClose()">Annuler</a>
          </mat-card-actions>

          <mat-error *ngIf="hasMessage" style="color: #138f46; margin-top: 15px;">
            <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
          </mat-error>
          <mat-error *ngIf="hasError" style="color: red; margin-top: 15px;">
            <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
          </mat-error>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

