<div class="modal-body">
  <p><b>Vous avez oublié votre mot de passe ?</b></p>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-sm-4">
        <input type="text" formControlName="email" class="form-control" [ngClass]="setError(email)" placeholder="Entrer votre adresse email" name="uname" >
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors.required">Veuillez saisir l'identifiant </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button class="btn btn-success mr-2" type="submit">
          Soumettre
        </button>
        <button (click)="OnClose()" class="btn btn-primary" type="button">Annuler</button>
      </div>
      <!--<div class="col-sm-4">.col-sm-4</div>-->
    </div>
    <div *ngIf="hasMessage" style="color: #138f46; margin-top: 15px;">
      <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
    </div>
    <div *ngIf="hasError" style="color: red; margin-top: 15px;">
      <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
    </div>
  </form>

</div>
