<div class="col-md-6 offset-md-3 mt-5 body">
  <div class="card">
    <h4 class="card-header">Réinitialisation du mot de passe</h4>
    <div class="card-body">
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <label><b>Nouveau mot de passe </b></label>
          <input type="password" formControlName="password" class="form-control" [ngClass]="setError(password)" placeholder="Nouveau mot de passe" name="uname" >
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
            <div *ngIf="password.errors.required">Veuillez saisir le mot de passe </div>
          </div>

          <label class="mt-3"><b>Confirmer le mot de passe</b></label>
          <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="setError(confirmPassword)" placeholder="Confirmer le mot de passe" name="psw" >
          <div class="errorControl">
            {{messageVerif}} {{messageVerifOld}}
          </div>
          <button class="btn btn-success" style="margin-top: 10px;" type="submit">
            Soumettre
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
