
<div class="card card-warning card-outline">
  <div class="card-header">
    <h6 class="card-title" style="font-weight:bold;font-size: small;">LISTE DES OPTIONS DE VENTE</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="panel-body">
        <div style="overflow: auto">
          <div class="row" class="d-flex justify-content-lg-between">
            <div class="col-lg-3">
              <a mat-raised-button color="accent" type="submit" class="btn-sm save" (click)="onAddOption()">Ajouter</a>
            </div>
            <div class="col-lg-3 d-flex justify-content-lg-between">
              <mat-form-field>
                <input matInput (keyup)="applyFilterOptions($event.target.value)" placeholder="Rechercher">
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon style="font-size: medium">search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div  class="mat-elevation-z8">
            <table mat-table multiTemplateDataRows [dataSource]="listOptions" matSort class="table-bordred table-striped table-sm">
                <tr mat-header-row *matHeaderRowDef="Columns" ></tr>
                <tr mat-row *matRowDef="let option;columns:Columns"></tr>

                <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black"> Status</th>
                  <td mat-header-cell *matCellDef="let element" >
                    <mat-icon *ngIf="element.status == 'Actif'" class="iconVert">task_alt</mat-icon>
                    <mat-icon *ngIf="element.status == 'Inactif'" class="option_icon_inactive">cancel</mat-icon>
                  </td>
                </ng-container>

                <ng-container matColumnDef="Code">
                  <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black"> Code</th>
                  <td mat-header-cell *matCellDef="let element" > {{element.code}}</td>
                </ng-container>

                <ng-container matColumnDef="Caption">
                  <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Caption</th>
                  <td mat-header-cell *matCellDef="let element">{{element.caption}}</td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                  <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Actions</th>
                  <td mat-cell *matCellDef="let option" class="d-flex justify-content-sm-between">
                      <a mat-icon-button class="edit" (click)="onEditOption(option)">
                        <mat-icon>launch</mat-icon>
                      </a>
                      <a mat-icon-button color="warn"  (click)="onDeleteOption(option)">
                        <mat-icon>delete_outline</mat-icon>
                      </a>
                  </td>
                </ng-container>
              </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>




