#no-button{
  background-color: blue;
  color: white;
  text-decoration: none !important;
}
#yes-button{
  background: green;
  color: white;
  text-decoration: none !important;
}
#msg {
  font-size: 18px;
  font-family: "Maiandra GD";
  font-weight: bold;
  text-decoration-color: black;
}
