
<div class="card card-warning card-outline">
  <div class="card-header">
    <h6 class="card-title" style="font-weight:bold;font-size: small;">LISTE DES PERMISSIONS</h6>
  </div>
  <div class="card-body table-responsive pt-2 pb-3">
    <div class="table-responsive" >
      <div class="panel-body">
        <div style="overflow: auto">
          <div class="row" class="d-flex justify-content-lg-between">
            <div class="col-lg-3">
              <a mat-raised-button color="accent" type="submit" class="btn-sm save" (click)="AlouerPermision()" >Alouer Permission</a>
            </div>
            <div class="col-lg-3">
              <mat-form-field >
                <input matInput (keyup)="applyFilterProfiles($event.target.value)" placeholder="Rechercher">
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon style="font-size: medium">search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div  class="mat-elevation-z8" >
            <table>
              <tbody  class="table table-bordred table-striped table-sm"  matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
              <thead class="d-flex justify-content-lg-center table-responsive-sm">
                <th>Profile</th>
                <th>Fonctionnalité</th>
                <th>Edit</th>
                <th>Write</th>
                <th>Read</th>
                <th>Delete</th>
                <th>Actions</th>
              </thead>
                <app-permission-edit *ngFor="let f of listPermissions" [currentPermission]="f"></app-permission-edit>
              <tbody>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
