.header{
  background-color: #138f46;
  height: 50px;
}

.entete{
  font-size: 13px;
  padding-top: 15px;
  margin-left: 120px;
  color: white;
  font-weight: bold;
}

#logo{
  width: 70%;
  height: 70%;
}

nav{
  text-align: center;
  border-bottom: 2px;
  color: white;
}

ul{
  margin-left: 500px;
  color: #138f46;
}

li a {
  display: block;
  color: #138f46;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  left:100%;
}

li a:hover {
  color: #05436e;
}

.sous-menu{
  margin-left: 960px;
  font-size: small;
}

.sous-menu1{
  margin-left: 820px;
  font-size: small;
}

.sous-menu2{
  margin-left: 670px;
  font-size: small;
}

.sous-menu a{
  height: 10px;
}

.corps{

}




