
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listContinent" matSort class="table-bordred table-striped table-sm">
    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row;columns: displayColumns"></tr>

    <ng-container matColumnDef="Code">
      <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Code</th>
      <td mat-header-cell *matCellDef="let element">{{element.code}}</td>
    </ng-container>

    <ng-container matColumnDef="Libellé">
      <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Libellé</th>
      <td mat-header-cell *matCellDef="let element">{{element.caption}}</td>
    </ng-container>

  </table>
</div>
