
        <div class="card card-warning card-outline">
          <div class="card-header">
            <h6 class="card-title" style="font-weight:bold;font-size: small;">LISTE DES CONTINENTS</h6>
          </div>
          <div class="card-body table-responsive pt-2 pb-3">
            <div class="table-responsive" >
              <div class="panel-body">
                <div style="overflow: auto">
                  <div class="row" class="d-flex justify-content-lg-between">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-3">

                    </div>
                  </div>
                  <div  class="mat-elevation-z8">
                    <table mat-table multiTemplateDataRows [dataSource]="listContinent" matSort class="table-bordred table-striped table-sm">
                      <tr mat-header-row *matHeaderRowDef="Columns" ></tr>
                      <tr mat-row *matRowDef="let country;columns:Columns"></tr>


                      <ng-container matColumnDef="Code">
                        <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Code</th>
                        <td mat-header-cell *matCellDef="let element">{{element.code}}</td>
                      </ng-container>

                      <ng-container matColumnDef="Libellé">
                        <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black"> Nom</th>
                        <td mat-header-cell *matCellDef="let element" > {{element.caption}}</td>
                      </ng-container>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

