<!--<div class="col-md-6 offset-md-3 mt-5 body">
  <div class="card">
    <h4 class="card-header">Réinitialisation du mot de passe</h4>
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <label><b>Ancien mot de passe</b></label>
          <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="setError(oldPassword)" placeholder="Nouveau mot de passe" name="uname" >
          <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="invalid-feedback">
            <div *ngIf="oldPassword.errors.required">Veuillez saisir l'ancien mot de passe </div>
          </div>
          <div class="errorControl">
            {{messageVerifOld}}
          </div>
          <label class="mt-4"><b>Nouveau mot de passe</b></label>
          <input type="password" formControlName="newPassword" class="form-control" [ngClass]="setError(newPassword)" placeholder="Nouveau mot de passe" name="uname" >
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid-feedback">
            <div *ngIf="newPassword.errors.required">Veuillez saisir le mot de passe </div>
          </div>
          <label class="mt-4"><b>Confirmer le mot de passe</b></label>
          <input type="password" formControlName="confirmNewPassword" class="form-control" [ngClass]="setError(confirmNewPassword)" placeholder="Confirmer le mot de passe" name="psw" >
          <div class="errorControl">
            {{messageVerif}}
          </div>
          <button class="btn btn-success mt-3 mr-2" type="submit">
            Soumettre
          </button>
          <button (click)="OnClose()" class="btn btn-primary mt-3" type="button">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>-->

<div class="container">
  <div class="d-flex justify-content-center mt-5 pt-5 ">
    <div class="card">
      <div class="card-header">
        <h4>Réinitialisation du mot de passe</h4>
      </div>
      <div class="card-body">
        <mat-card-content>
          <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <p>
              <mat-form-field>
                <mat-icon matPrefix class="mr-1">vpn_key</mat-icon>
                <input matInput name="uname"
                       placeholder="Nouveau mot de passe"
                       formControlName="oldPassword" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-icon matPrefix class="mr-1">vpn_key</mat-icon>
                <input matInput name="psw"
                       placeholder="Password"
                       formControlName="password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </p>
            <mat-error *ngIf="updateForm.get('password').hasError('required')">
              (*) Les champs sont obligatoires
            </mat-error>
            <p *ngIf="submitted && error" style="color: red;font-size: 12px" >
              <span *ngIf="updateForm.valid && submitted">{{messageVerif}}</span></p>
            <mat-card-actions class="d-flex justify-content-between">
              <button mat-raised-button color="accent" type="submit" class="btn-sm save float-left" [disabled]="updateForm.invalid" >Soumettre</button>
              <a mat-raised-button color="accent" class="btn-sm refuse ml-2" (click)="OnClose()">Annuler</a>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </div>
    </div>
  </div>
</div>

