<div class="col-md-6 offset-md-3 mt-5 body">
  <div class="card">
    <h4 class="card-header">Réinitialisation du mot de passe</h4>
    <div class="card-body">
      <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <div class="container">
          <label><b>Ancien mot de passe</b></label>
          <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="setError(oldPassword)" placeholder="Nouveau mot de passe" name="uname" >
          <div *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)" class="invalid-feedback">
            <div *ngIf="oldPassword.errors.required">Veuillez saisir l'ancien mot de passe </div>
          </div>
          <div class="errorControl">
            {{messageVerifOld}}
          </div>
          <label class="mt-4"><b>Nouveau mot de passe</b></label>
          <input type="password" formControlName="newPassword" class="form-control" [ngClass]="setError(newPassword)" placeholder="Nouveau mot de passe" name="uname" >
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid-feedback">
            <div *ngIf="newPassword.errors.required">Veuillez saisir le mot de passe </div>
          </div>
          <label class="mt-4"><b>Confirmer le mot de passe</b></label>
          <input type="password" formControlName="confirmNewPassword" class="form-control" [ngClass]="setError(confirmNewPassword)" placeholder="Confirmer le mot de passe" name="psw" >
          <div class="errorControl">
            {{messageVerif}}
          </div>
          <button class="btn btn-success mt-3 mr-2" type="submit">
            Soumettre
          </button>
          <button (click)="OnClose()" class="btn btn-primary mt-3" type="button">Annuler</button>
        </div>
      </form>
    </div>
  </div>
</div>
