<div class="card card-warning card-outline">
  <div class="card-header">
    <h4 class="card-title">MODIFIER UNE FILIALE</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="filialeForm" (ngSubmit)="onSubmit()"autocomplete="off">
      <mat-card-content class="">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field  >
              <mat-label class="label-form">Société</mat-label>
              <mat-select formControlName="company" >
                <mat-option *ngFor="let company of  listCompany" [value]="company.id">
                  {{company.socialReason}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="filialeForm.get('company').hasError('required')">
                Société <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field >
              <mat-label class="label-form">Ville</mat-label>
              <mat-select name="status" formControlName="city" >
                <mat-option *ngFor="let city of  listCity" [value]="city.id">
                  {{city.caption}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="filialeForm.get('city').hasError('required')">
                Société <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Nom</mat-label>
              <input matInput placeholder="Nom"
                     formControlName="caption"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="filialeForm.get('caption').hasError('required')">
                Nom <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Email</mat-label>
              <input matInput placeholder="Email"
                     formControlName="email"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="filialeForm.get('email').hasError('required')">
                Email <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Adresse</mat-label>
              <input matInput placeholder="adress"
                     formControlName="adress"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="filialeForm.get('adress').hasError('required')">
                Adresse <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Phone</mat-label>
              <input matInput placeholder="phone"
                     formControlName="phone"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="filialeForm.get('phone').hasError('required')">
                Phone <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Site web</mat-label>
              <input matInput placeholder="webSite"
                     formControlName="webSite"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="filialeForm.get('webSite').hasError('required')">
                Site web <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field >
              <mat-label class="label-form">Status</mat-label>
              <mat-select name="status" formControlName="status" >
                <mat-option value="Actif">
                  Actif
                </mat-option>
                <mat-option value="Inactif">
                  Inactif
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="filialeForm.get('status').hasError('required')">
                Status <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="">
          <mat-form-field >
            <mat-label class="label-form">Type de Génération de Login</mat-label>
            <mat-select formControlName="typeGeneriqueLogin" >
              <mat-option value="FirstLetterOfFirstNameAndLastName">
                1 ière lettre du Prénom + Nom
              </mat-option>
              <mat-option value="FirstLetterOfLastNameAndFirstName">
                1 ière lettre du Nom + Prénom
              </mat-option>
              <mat-option value="FirstNameAndFirstLetterOfLastName">
                Prénom + 1 ière lettre du Nom
              </mat-option>
              <mat-option value="TwoLettersOfFirstNameAndTreeLetterOfLastName">
                2 premières lettre du Prénom + 3 premières lettre du Nom
              </mat-option>
              <mat-option value="BeforeEmail">
                Avant @
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="filialeForm.get('status').hasError('required')">
              Status <strong>obligatoire</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </mat-card-content>
      <br>
      <mat-error *ngIf="filialeForm.invalid"  style="font-size: xx-small">
        <p> (*) Tous les champs sont <strong>obligatoires !</strong> </p>
      </mat-error>
      <br>
      <mat-card-actions class="">
        <button mat-raised-button color="accent" type="submit" class="btn-sm save" [disabled]="filialeForm.invalid" >Sauvegarder</button>
        <a mat-raised-button color="accent" class="btn-sm refuse ml-2" (click)="OnClose()">Annuler</a>
      </mat-card-actions>
    </form>
  </div>
</div>







