<div class="content-wrapper pt-4">
  <div class="card card-warning card-outline">
          <div class="card-header">
            <h6 class="card-title" style="font-weight:bold;font-size: small;">Liste des Fonctionnalités</h6>
          </div>
          <div class="card-body table-responsive pt-2 pb-3">
            <div class="table-responsive" >
              <div class="panel-body">
                <div style="overflow: auto">
                  <div class="row" class="d-flex justify-content-lg-between">
                    <div class="col-lg-3">
                      <!-- <a mat-raised-button color="accent" type="submit" class="btn-sm save" (click)="onAddOption()">Ajouter</a>-->
                    </div>
                    <div class="col-lg-3">
                      <mat-form-field >
                        <input matInput (keyup)="applyFilterFeatures($event.target.value)" placeholder="Rechercher">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear">
                          <mat-icon style="font-size: medium">search</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  </div>
                  <div  class="mat-elevation-z8">
                    <table mat-table multiTemplateDataRows [dataSource]="listFeature" matSort class="table-bordred table-striped table-sm">
                      <tr mat-header-row *matHeaderRowDef="featureColumns" ></tr>
                      <tr mat-row *matRowDef="let option;columns:featureColumns"></tr>

                      <ng-container matColumnDef="Status">
                        <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black"> Status</th>
                        <td mat-header-cell *matCellDef="let element" >
                          <i  *ngIf="element.status == 'Actif'" class="fa fa-file-code-o fa-lg iconVert" aria-hidden="true" ></i>
                          <i *ngIf="element.status == 'Inactif'"  class="fa fa-file-code-o fa-lg" aria-hidden="true" ></i>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="Code">
                        <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black"> Code</th>
                        <td mat-header-cell *matCellDef="let element" > {{element.code}}</td>
                      </ng-container>

                      <ng-container matColumnDef="Caption">
                        <th mat-header-cell *matHeaderCellDef style="font-size: x-small;font-weight: bold;color: black">Caption</th>
                        <td mat-header-cell *matCellDef="let element">{{element.caption}}</td>
                      </ng-container>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>

