<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
    <h6 class="card-header">Modification de Pays</h6>
    <div class="card-body">
      <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label class="col-form-label"><b>Nom </b></label>
          <input class="form-control" type="text" formControlName="caption"  required="true" [ngClass]="setError(caption)" placeholder="Nom" name="uname" >
          <div *ngIf="caption.invalid && (caption.dirty || caption.touched)" class="invalid-feedback">
            <div *ngIf="caption.errors.required">Veuillez saisir le nom </div>
            <div *ngIf="caption.errors.minlength">Le nom doit contenir au moins 4 caratères </div>
          </div>
          <div *ngIf="hasError" style="color: red; margin-top: 15px;">
            <i class="fa fa-info-circle" aria-hidden="true" style="font-size: x-large"></i>  {{message}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label"><b>Continent </b></label>
          <select class="form-control" name="" formControlName="continent"  required="true" [ngClass]="setError(continent)">
            <option *ngFor="let continent of listContinent" value={{continent.id}}>{{continent.caption}}</option>
          </select>
          <div *ngIf="continent.invalid && (continent.dirty || continent.touched)" class="invalid-feedback">
            <div *ngIf="continent.errors.required">Veuillez sélectionner le continent </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label"><b>Status</b></label>
          <select class="form-control" name="" formControlName="status"  required="true" [ngClass]="setError(status)">
            <option value="Actif">Actif</option>
            <option value="Inactif">Inactif</option>
          </select>
          <div *ngIf="status.invalid && (status.dirty || status.touched)" class="invalid-feedback">
            <div *ngIf="status.errors.required">Veuillez sélectionner le status </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success mr-2">Sauvegarder</button>
        <button type="reset" class="btn" id="list" (click)="goBack()">Annuler</button>
      </form>
    </div>
  </div>
</div>
