
<div class="card card-warning card-outline">
  <div class="card-header">
    <h4 class="card-title">MODIFIER UN PAYS</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()"autocomplete="off">
      <mat-card-content class="">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="exemple-full-width" >
              <mat-label class="label-form">Nom</mat-label>
              <input matInput placeholder="Nom"
                     formControlName="caption"
                     type="text"
                     required="required">
              <mat-error
                *ngIf="countryForm.get('caption').hasError('required')">
                Nom <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field >
              <mat-label class="label-form">Status</mat-label>
              <mat-select name="status" formControlName="status" >
                <mat-option value="Actif">
                  Actif
                </mat-option>
                <mat-option value="Inactif">
                  Inactif
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="countryForm.get('status').hasError('required')">
                Status <strong>obligatoire</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="">
          <div class="">
            <mat-form-field >
              <mat-label class="label-form">Continent</mat-label>
              <mat-select name="status" formControlName="continent" >
                <mat-option *ngFor="let continent of  listContinent" [value]="continent.id">
                  {{continent.caption}}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="countryForm.get('continent').hasError('required')">
                Continent <strong>obligatoire</strong>
              </mat-error>
              <mat-error
                *ngIf="errorApiMessage">
                {{errorApiMessage}}
              </mat-error>
            </mat-form-field>
          </div>
        </div>


      </mat-card-content>
      <br>
      <mat-error *ngIf="countryForm.invalid"  style="font-size: xx-small">
        <p> (*) Tous les champs sont <strong>obligatoires !</strong> </p>
      </mat-error>
      <br>
      <mat-card-actions class="">
        <button mat-raised-button color="accent" type="submit" class="btn-sm save" [disabled]="countryForm.invalid" >Sauvegarder</button>
        <a mat-raised-button color="accent" class="btn-sm refuse ml-2" (click)="OnClose()">Annuler</a>
      </mat-card-actions>
    </form>
  </div>
</div>




