/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.refuse{
  background-color: blue;
  color: white;
  text-decoration: none !important;
}
.save{
  background: #095806;
  color: white;
  text-decoration: none !important;
}
.iconVert{
  color: #095806;
}
.option_icon_inactive{
  color: black;
}
.icon_Expiree{
  color: red;
}
.icon_Renouvelee{
  color: mediumblue;
}
.green-snackbar {
  background: 	rgb(244,245,246)!important;
  color: rgb(5,67,110);
  font-size: medium;
  font-weight: bold;
}
.label-form{
  font-size: small;
  font-weight: 400;
  color: black
}
table{
  width: 100%;
}
td, th {
  width: 20%;
}
#list{
  background-color: #05436e;
  color:white
}
.iconVert{
  color:#138f46;
}
.iconBleu{
  color:#05436e;
}
.errorControl{
  color: red;
}

