/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.refuse{
  background-color: blue;
  color: white;
  text-decoration: none !important;
}
.save{
  background: #095806;
  color: white;
  text-decoration: none !important;
}
.option_icon_active{
  color: #095806;
}
.option_icon_inactive{
  color: black;
}
.green-snackbar {
  background: 	rgb(244,245,246)!important;
  /*color: #095806;*/
  color: rgb(5,67,110);
  font-size: medium;
  font-weight: bold;
}

